<h1>Review Items</h1><br>
<form class="form-horizontal" action="javascript:void(0);" id="Review">

    <div class="form-group row">
        <label for="inputAcceptance" class="col-sm-2 col-form-label">Submit sample/Trail to customer</label>

        <div class="col-sm-3 col-form-label">
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-25" value="1" class="flat-red" checked>
                Yes
            </label>
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-25" value="0" class="flat-red">
                No
            </label>
        </div>
        <div class="col-sm-7 col-form-label">
            <label>If Yes, Submit sample Date :</label>
            <input type="text" name="desc-25" class="form-control" placeholder="200 character limit ">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputAcceptance" class="col-sm-2 col-form-label">IPP to customer</label>

        <div class="col-sm-3 col-form-label">
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-26" value="1" class="flat-red" checked>
                Yes
            </label>
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-26" value="0" class="flat-red">
                No
            </label>
        </div>
        <div class="col-sm-7 col-form-label">
            <label>If Yes, Submit PSW Date :</label>
            <input type="text" name="desc-26" class="form-control" placeholder="200 character limit ">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputAcceptance" class="col-sm-2 col-form-label">Customer Audit</label>

        <div class="col-sm-3 col-form-label">
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-27" value="1" class="flat-red" checked>
                Yes
            </label>
            <label style="margin-right: 15px;">
                <input type="radio" name="rd-27" value="0" class="flat-red">
                No
            </label>
        </div>
        <div class="col-sm-7"></div>
    </div>

    <div class="form-group row">
        <label for="inputSkills" class="col-sm-2 col-form-label">Suggestion from QA</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="desc-28" placeholder=""></textarea>
        </div>
    </div>

    <br>
    <hr>
    <br>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-info float-right">Submit</button>
        </div>
    </div>
</form>