    <p>Dear all concernings,</p>
    <p>
      According to  <b>@Model.Code</b> of model <b>@Model.Model</b> part no. <b>@Model.PartNo</b>, <b class="text-danger">Rejected</b> For more details, please click this <a href="@ViewBag.Url">Link.</a></p>
    <p>Best Regards</p>